
<nav class="navbar nav-pills nav-fill  navbar-dark  bg-dark">
  
  <a class="navbar-brand" href="#">INVENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/invent">Invent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="invent-list">Invent List</a>
      </li>
      
    </ul>
  </div>
</nav>
<!-- <header>
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>    
        <li><a routerLink="/invent">Invent</a></li>     
        <li><a routerLink="invent-list">Invent List</a></li>     
      </ul>
    </nav>
  </div>
</header> -->