/* header{
    background-color: darkorange;
}

nav{
    justify-self: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

li{
    float:left;
}

a{
    padding: 1.5cm;
    text-transform: uppercase;
    font-size: 1.2cm;
}

a:hover{
     background-color: lightgreen;
}

a:visited{
    background-color: lightgray;
} */