<!-- <div class="jumbtron">
  <h1 class="display-4 text-center">Inventory Product Details</h1> </div>
  <hr/>
  <div class="row"> 
    <div class="col-md-5"> 
      <app-invent></app-invent>
    </div>
    <div class="col-md-7">
      <app-invent-list></app-invent-list>
       </div>
  </div> -->


<app-nav></app-nav>
<section>
  <router-outlet></router-outlet>
</section>
<footer class="container mb-5 "><p>
  
  <button class="btn btn-dark btn-lg btn-block " type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">About Us</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <h5 class="font-weight-bold">
          Project Details
        </h5>
        <p>
          This project basically helps to maintain data and keep track of the product related details
Where shopkeeper can insert delete update record in the front end whose result gets reflected in the back end.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <h5 class="font-weight-bold">
          Team Members
          
        </h5>
        <ul style="list-style-type:none;">
          <li><i class="fa fa-user-circle" aria-hidden="true"></i> Jagpreet Kaur</li>

          <li><i class="fa fa-user-circle" aria-hidden="true"></i> Ketan Sharma</li>

          <li><i class="fa fa-user-circle" aria-hidden="true"></i> Somnath Chaudhary</li>

        </ul>
      </div>
    </div>
  </div>
</div>
</footer>